.r56doc-logo {
    position: relative;
    display: inline-block;
    width: max-content;
}

.r56-text {
    display: block;
    font-family: "Archivo Black", Arial, sans-serif;
    font-size: 180px;
    font-weight: 900;
    color: #93999c;
    letter-spacing: -10px;
    line-height: 0.82;
}

.doc-text {
    position: absolute;
    right: 9px;
    bottom: -50px;

    font-family: "Lobster", cursive;
    font-size: 90px;
    color: #93999c;
    line-height: 1;
}